<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Edit</title>
</head>
<body>
<h3 th:text="${title}">Form title</h3>

<form method="post" action="#" th:action="@{/customer/update}"
      th:object="${customer}">
    <table>
        <tr>
            <td>Id:</td>
            <td>
                <input type="text" th:field="*{id}"
                       readonly>
            </td>
        </tr>
        <tr>
            <td>First name:</td>
            <td>
                <input type="text" value="Robert"
                       th:field="*{firstName}"/>
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>
                <input type="text"
                       th:field="*{lastName}"/>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type="text"
                       th:field="*{email}"/>
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td>
                <input type="text"
                       th:field="*{phoneNumber}"/>
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <input type="text"
                       th:field="*{addressLine}"/>
            </td>
        </tr>
        <tr>
            <td>City:</td>
            <td>
                <input type="text"
                       th:field="*{city}"/>
            </td>
        </tr>
        <tr>
            <td>Zip code:</td>
            <td>
                <input type="text"
                       th:field="*{zipCode}"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" th:text="${button}" >
                </button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>